.ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 700px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    background: #fff;
    padding: 0;
}

.ngdialog.ngdialog-theme-default {
    padding-top: 30px;
}

@media screen and (max-width: 767px) {
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        width: 75%;
    }
}

