.idea/
*.iml
.classpath
.project
.settings/
*.log
logs/
.flattened-pom.xml
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next

node_modules/
PhantomJS_*/
target/
logs/
*.log
.extract/

*.swp
node/
